
.cont1{
    display: flex;
    flex-direction: column;
    gap:20px;
  
}
.cont2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 60px;
}
.main{
    display: flex;
    justify-content: space-between;
    background-color:rgb(245,245,245) ;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    font-size: 20px;
}
.one{
    display: inline;
    background-color: black;
    color: white;
    padding: 2px;
}
.two{
    font-size: larger;
    font-weight: bold;
}