footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;

}

footer div img {
  height: 40px;
}

footer div ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

footer div ul li {
  font-size: 14px;
}

footer div ul li a {
  text-decoration: none;
  color: #333333;
}

footer div ul li a:hover {
  color: #ff3366;
}

footer div p {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}


.login-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.login-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff3366;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #e6004c;
}
