#container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;


}

#container>div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

h3 {
    display: flex;
    justify-content: space-between;
}