#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
.image img{
   width: 100%;
   height: 330px;
}
#sorting , #filtering{
    padding: 10px;
    border-radius: 30px;
    border: 1px solid orange;
    font-size: medium;
    cursor: pointer;
}