.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  padding: 1rem;
  width: 80%;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 1rem;
}

.search {
  border: 1px solid black;
  display: flex;
  margin: auto;
  padding-left: 1rem;
  padding: 1rem;
  width: 80%;
 cursor: pointer;
  
}
.search:hover{
  background-color: rgba(0,0,0,0.08);
  color: black;
}

.searchDiv {
  height: 250px;
  overflow: auto;
  margin: auto;
}
